.flip-horizontal::before {
  transform: scaleX(-1); /* Flips the icon horizontally */
}

.flip-vertical::before {
  transform: scaleY(-1); /* Flips the icon vertically */
}

.flip-both::before {
  transform: scaleX(-1); /* Flips the icon horizontally */
  transform: scaleY(-1); /* Flips the icon vertically */
}

.rotate-45::before {
  transform: rotate(45deg);
}

.rotate-90::before {
  transform: rotate(90deg);
}

.rotate-180::before {
  transform: rotate(180deg);
}

.rotate-270::before {
  transform: rotate(270deg);
}





.glow-sm { box-shadow: rgba(45, 255, 196, 0.4) 0px 0px 5px 2px !important }
.glow-md { box-shadow: rgba(45, 255, 196, 0.4) 0px 0px 7px 2px !important }
.glow-lg { box-shadow: rgba(45, 255, 196, 0.4) 0px 0px 10px 2px !important }
